/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */

main#two-columns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: white;
}

main#two-columns section {
    max-width: 50%;
}

section#accelerate p {
    color: white;
}

section#accelerate button {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    background-color: #cda703;
    border-color: #ddd;
    cursor: pointer;
    font-size: 2rem;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: relative;
    box-shadow: 10px 10px 1px #e9e9e9;
    border-radius: 30px;
    border: 3px solid #e9e9e9;
    font-weight: bold;
}

section#accelerate button:active {
    box-shadow: 5px 5px 0px #e9e9e9;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
    color: white;
}

.progressFooter {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    font-size: 2rem;
    position: relative;
    padding-bottom: 20px;
    p {
        color: white;
    }
}

.progressFooter::before {
    background-image: url("../images/footer_image.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: -110px;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
